body
{
    background-color: #242424;
    color: ghostwhite;
}

.main-menu li a{
    font-size: 20px;
    color: ghostwhite;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;

}

.main-menu li a:hover{
    background-color: black;
}

.main-menu nav > ul {
    list-style: none;
    margin: none;
    padding: 0;
    overflow: hidden;
    background-color: #560202;
}
.main-menu nav li {
    float: left;
    margin: 0.5;
    padding: 0;
    font-size: 14px;
    flex: 1 1 0%
}
.active {
    background-color: #390101
}

.imgzentriert {
    display: block;
    width:60%;
    height: 30%;
    margin: 0px auto;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}


.vertical-menu  {
    width 10%;
}

.vertical-menu a {
    background-color: #560202;
    color: white;
    display: block;
    padding: 12px;
}

.vertical-menu a.active {
    background-color: #390101;
    color: white;
}

.vertical-menu a:hover{
    background-color: black;
}