body
{
    background-color: #242424;
    color: ghostwhite;
}

.main-menu li a{
    font-size: 20px;
    color: ghostwhite;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 20px;

}

.main-menu li a:hover{
    background-color: black;
}

.main-menu nav > ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    background-color: #560202;
}
.main-menu nav li {
    float: left;
    margin: 1px;
    padding: 0;
    font-size: 14px;
    flex: 1 1 0%
}
.active {
    background-color: #390101
}

.imgzentriert {
    display: block;
    width:40%;
    height: 20%;
    margin: 0px auto;
}

.imgRight {
    display: block;
    width:30%;
    float: right;
    margin: 30px;
}

.article {
    float: Right;
    width: 70%;
    background-color: #560202;
    height: 70%;
    Padding: 2%;
    Padding-top: 0;
    display: block;
    margin-bottom: 50px;
    margin-left: 4%;
}

.sidenav {
    height: 100%;
    width: 20%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #560202;
    overflow-x: hidden;
    float: left;
    margin-bottom: 50px;
    margin-right: 2%;
}

.sidenav a {
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: ghostwhite;
    display: block;
}

.sidenav a:hover {
    background-color: black;
}
.footer{
    width:100%;
    bottom:0px;
    margin-top: 30%;
    text-align: center;
    float: bottom;

}
